.corsi-container {
  max-width: 900px;
  margin: 20px auto;
  padding: 15px;

  h2 {
    font-size: 24px;
    color: #512DA8;
    text-align: center;
  }

  section {
    margin-bottom: 20px;

    h3 {
      font-size: 20px;
      color: #512DA8;
      text-align: center;
    }

    mat-form-field {
      width: 100%;
      margin-bottom: 12px;

      mat-label {
        font-size: 16px;
        color: #333;
      }

      mat-select {
        width: 100%;
        font-size: 16px;
      }
    }

    .corso-card {
      width: 100%;
      border: 1px solid #ddd;
      padding: 15px;
      margin-bottom: 20px;
      border-radius: 8px;

      h4 {
        font-size: 18px;
        color: #512DA8;
        margin-bottom: 10px;
      }

      .corso-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .livello {
          font-size: 16px;
          color: #555;
          font-weight: bold;
        }
      }
.corso-image{
  color: #512DA8;
}
      .descrizione {
        font-size: 14px;
        color: #555;
        margin-bottom: 15px;
      }

      .prezzo {
        font-size: 14px;
        color: #555;
        margin-bottom: 15px;
        font-weight: bold;
      }

      .corso-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .durata {
          font-size: 14px;
          color: #555;
        }

        .buttons {
          display: flex;
          gap: 10px;

          button {
            padding: 10px;
            cursor: pointer;
            border: none;
            border-radius: 4px;
            font-size: 14px;
          }

          .btn-preferiti {
            background-color: #3498db;
            color: #fff;
          }

          .btn-carrello {
            background-color: #2ecc71;
            color: #fff;
          }
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    /* Stile per dispositivi con larghezza massima di 768px */
    section {
      h3 {
        font-size: 18px;
      }

      .corso-card {
        h4 {
          font-size: 16px;
        }

        .descrizione,
        .prezzo {
          font-size: 12px;
        }
      }
    }
  }

  @media screen and (max-width: 568px) {
    section {
      h3 {
        font-size: 16px;
      }

      mat-form-field {
        mat-label {
          font-size: 14px;
        }

        mat-select {
          font-size: 14px;
        }
      }

      .corso-card {
        h4 {
          font-size: 14px;
        }

        .descrizione,
        .prezzo {
          font-size: 12px;
        }

        .corso-header {
          .livello {
            font-size: 14px;
          }
        }

        .corso-footer {
          .durata {
            font-size: 12px;
          }

          .buttons {
            button {
              font-size: 12px;
              padding: 8px;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 400px) {
    section {
      h3 {
        font-size: 14px;
      }

      mat-form-field {
        mat-label {
          font-size: 10px;
        }

        mat-select {
          font-size: 10px;
        }
      }

      .corso-card {
        h4 {
          font-size: 12px;
        }

        .descrizione,
        .prezzo {
          font-size: 10px;
        }

        .corso-header {
          .livello {
            font-size: 10px;
          }
        }

        .corso-footer {
          .durata {
            font-size: 10px;
          }

          .buttons {
            button {
              font-size: 5px;
              padding: 6px;
            }
          }
        }
      }
    }
  }
}
