.container-fluid {
  background: url('https://source.unsplash.com/1920x1080/?books') center/cover no-repeat;
  animation: fadeIn 2s ease-out;
  font-family: 'Roboto', sans-serif;
  color: #f2f2f2;

  .title, h5.title {
    color: #3498db;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  }

  .title { font-size: 2em; margin-bottom: 0.5em; }
  h5.title { font-size: 1em; margin-top: 0.5em; }

  .row {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .combined-card {
      width: calc(100% - 40px);
      margin: 20px;
      padding: 20px;
      border-radius: 15px;
      background: linear-gradient(145deg, #3c2493, #4b2bbf);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
      transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);

      &:hover {
        transform: scale(1.05);
        box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
      }

      .section-title {
        font-size: 1.5em;
        margin-bottom: 15px;
        text-align: center;
      }

      .card-text {
        font-size: 1em;
        line-height: 1.6;
      }

      .custom-button {
        padding: 15px 30px;
        font-size: 1.2em;
        background: #6D42BA;
        border-radius: 10px;
        transition: all 0.3s ease;

        &:hover {
          background: #7e53c1;
          transform: translateY(-5px);
        }
      }

      .separator {
        background-color: #eaeaea;
        height: 2px;
        margin: 20px 0;
      }
    }
  }

  @media only screen and (min-width: 576px) {
    .combined-card { width: calc(50% - 40px); } // SM
  }

  @media only screen and (min-width: 768px) {
    .combined-card { width: calc(50% - 40px); } // MD
  }

  @media only screen and (min-width: 992px) {
    .combined-card { width: calc(33% - 40px); } // LG
  }

  @media only screen and (min-width: 1200px) {
    .combined-card { width: calc(25% - 40px); } // XL
  }
}
