.container-fluid {
  background: url('https://source.unsplash.com/1920x1080/?books') center/cover no-repeat;
  animation: fadeIn 1.5s ease;

  .title, h5.title {
    color: #3498db;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }

  .title {
    font-size: 1.4rem;
    margin-bottom: 5px;
  }

  h5.title {
    font-size: 0.75rem;
    margin-top: 5px;
  }

  .row {
    margin-top: 20px; // Aggiunto spazio superiore
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .combined-card {
      width: calc(95% - 20px); // Leggermente allargato
      max-width: 320px;
      margin: 0 10px 20px;
      padding: 15px;
      border-radius: 12px; // Maggiore arrotondamento dei bordi
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); // Ombra più evidente
      background: #4527a0;
      transition: transform 0.4s ease, box-shadow 0.4s ease; // Transizioni più fluide

      &:hover {
        transform: scale(1.06); // Effetto di hover leggermente amplificato
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); // Ombra più pronunciata
      }

      .section {
        margin-bottom: 15px; // Leggermente aumentato lo spazio inferiore

        .section-title {
          font-size: 1.3rem; // Leggermente ingrandito
          color: #fff;
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); // Effetto testo più evidente
        }

        .card-text {
          font-size: 0.85rem; // Leggermente ingrandito
          color: #f2f2f2;
        }

        .custom-button {
          width: 100%;
          padding: 12px; // Leggermente aumentato il padding
          font-size: 1rem; // Leggermente ingrandito
          font-weight: bold;
          background: #6D42BA;
          color: #ffffff;
          border: none;
          border-radius: 10px; // Arrotondato i bordi dei pulsanti
          cursor: pointer;
          transition: background-color 0.4s ease, transform 0.4s ease;

          &:hover {
            background: #2574a9;
            transform: translateY(-4px); // Animazione hover leggermente amplificata
          }
        }
      }

      .separator {
        background-color: #fff;
        height: 2px;
        width: 100%;
        margin: 15px 0; // Aumentato lo spazio inferiore
      }
    }
  }

  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  // Media Queries
  @media only screen and (min-width: 400px) {
    .title { font-size: 1.6rem; }
    h5.title { font-size: 0.9rem; }
    .combined-card { max-width: 380px; } // Leggermente più largo
  }

  @media only screen and (min-width: 768px) {
    .combined-card {
      width: calc(45% - 20px);
    }
  }

  @media only screen and (min-width: 992px) {
    .row {
      justify-content: space-between; // Spaziatura uniforme tra le card
    }
  }
}
