.community-homepage {
  .welcome-card {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 2rem;

    .title {
      font-size: 1.5rem; // Riduci il font-size per il titolo nella versione mobile
      font-weight: bold;
      margin-bottom: 1rem;
    }

    .intro-text {
      font-size: 1rem; // Riduci il font-size per il testo introduttivo nella versione mobile
      margin-bottom: 2rem;
    }

    .highlight-text {
      font-size: 1rem;
      color: #007bff;
      margin-bottom: 2rem;
    }

    .membership-info {
      font-size: 0.8rem;
      margin-bottom: 2rem;
      color: #777; // Cambia il colore del testo informativo
    }

    .join-button {
      width: 60%;
      font-size: 0.7rem;
      padding: 1.4rem 2rem;
      background-color: #007bff;
      color: white;
      border: none;
      cursor: pointer;
      border-radius: 30px;
      transition: background-color 0.3s ease; // Aggiungi una transizione al colore di sfondo

      &:hover {
        background-color: #0056b3;
      }
    }
  }
}






@media (max-width: 991px) {
  .discussion-topics-mobile {
    display: block; // Mostra mat-card su dispositivi mobili
  }

  .discussion-topics-desktop {
    display: none; // Nascondi mat-expansion-panel su dispositivi mobili
  }

  .mat-card-content {
    font-size: 0.85rem; // Riduci il font-size per il contenuto della mat-card su dispositivi mobili

    .status-chip {
      background-color: red; // Colore di sfondo del chip "Discussione Chiusa" in rosso
      color: white; // Testo bianco per il chip "Discussione Chiusa"
    }

    // Aggiungi questo selettore per rendere il testo del chip "Discussione Chiusa" in rosso
    .status-chip.mat-chip-checked {
      color: red; // Testo "Discussione Chiusa" in rosso quando selezionato
    }
  }
}
// Stili per la versione mobile (max-width: 991px)
@media (max-width: 991px) {
  .announcements-mobile {
    display: block; // Mostra mat-card su dispositivi mobili
  }

  .announcements-desktop {
    display: none; // Nascondi mat-expansion-panel su dispositivi mobili
  }

  .announcement-card {
    margin: 1rem 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    &:hover {
      box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    }

    .mat-card-header {
      .mat-card-title {
        font-size: 1.25rem;
        font-weight: bold;
      }
    }

    .mat-card-content {
      padding: 1rem;
      line-height: 1.6;
      font-size: 0.95rem;
    }
  }
}

// Stili per la versione desktop (min-width: 992px)
@media (min-width: 992px) {
  .announcements-mobile {
    display: none; // Nascondi mat-card su desktop
  }

  .announcements-desktop {
    display: block; // Mostra mat-expansion-panel su desktop
  }
}
// Stili per centrare il pulsante nella versione mobile (max-width: 991px)
@media (max-width: 991px) {
  .center-button {
    display: flex;
    justify-content: center;
  }
}



// Stili per la versione desktop (min-width: 992px)
@media (min-width: 992px) {
  .discussion-topics-mobile {
    display: none; // Nascondi mat-card su desktop
  }

  .discussion-topics-desktop {
    display: block; // Mostra mat-expansion-panel su desktop
  }
}

// Aggiungi altri stili personalizzati se necessario
// Stili per la versione mobile (max-width: 991px)
@media (max-width: 991px) {
  .faqs-mobile {
    display: block; // Mostra mat-card su dispositivi mobili
  }

  .faqs-desktop {
    display: none; // Nascondi mat-expansion-panel su dispositivi mobili
  }

  .faq-card {
    margin-bottom: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    &:hover {
      box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    }

    .mat-card-header {
      .mat-card-title {
        font-size: 1.25rem;
        font-weight: bold;
      }
    }

    .mat-card-content {
      padding: 1rem;
      line-height: 1.6;
      font-size: 0.95rem;
    }
  }
}

// Stili per la versione desktop (min-width: 992px)
@media (min-width: 992px) {
  .faqs-mobile {
    display: none; // Nascondi mat-card su desktop
  }

  .faqs-desktop {
    display: block; // Mostra mat-expansion-panel su desktop
  }
}
// Stili per la sezione delle recensioni
.user-reviews {
  text-align: center;

  // Stili per il titolo delle recensioni
  .reviews-title {
    margin-bottom: 1rem;
  }

  // Stili per il form di aggiunta recensione
  .new-review-form {
    mat-card {
      width: 100%;
      max-width: 400px;
      margin: 0 auto;
      text-align: left;

      h2 {
        font-size: 1.25rem;
        margin-bottom: 1rem;
      }

      mat-form-field {
        width: 100%;
        margin-bottom: 1rem;

        input,
        textarea {
          width: 100%;
        }
      }

      .mat-select {
        width: 100%;
      }

      button {
        width: 100%;
        margin-top: 1rem;
      }
    }
  }

  // Stili per la lista delle recensioni esistenti
  .reviews-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .review-card {
      margin: 0.5rem;
      width: 300px;

      mat-card-content {
        text-align: left;

        .star-rating {
          color: yellow; // Stelle gialle
        }
      }
    }
  }
}
