

<div class="terms-and-conditions-container">
  <h2>Termini e Condizioni</h2>

  <p>Benvenuto su TutoringPlatform, la tua piattaforma di tutoraggio online.</p>

  <h3>1. Accettazione e Obblighi</h3>
  <p>Utilizzando i servizi offerti da TutoringPlatform, accetti di essere vincolato dai seguenti Termini e Condizioni. È tua responsabilità leggere attentamente e comprendere completamente questi Termini prima di utilizzare la piattaforma.</p>

  <h3>2. Registrazione dell'Account</h3>
  <p>Per accedere a determinate funzionalità della piattaforma, potrebbe essere richiesta la registrazione di un account. Devi fornire informazioni accurate e aggiornate durante il processo di registrazione. Se fornisci informazioni non accurate o obsolete, TutoringPlatform si riserva il diritto di sospendere o terminare il tuo account.</p>

  <h3>3. Utilizzo Responsabile</h3>
  <p>Accetti di utilizzare la piattaforma in modo responsabile e rispettoso degli altri utenti. Il contenuto che carichi o condividi non deve violare leggi applicabili o essere offensivo, diffamatorio o illegale.</p>

  <h3>4. Tariffe e Pagamenti</h3>
  <p>Le tariffe per i servizi di tutoraggio sono specificate chiaramente sulla piattaforma. Accetti di pagare tutte le tariffe dovute in modo tempestivo e accurato secondo le modalità di pagamento indicate.</p>

  <h3>5. Riservatezza e Dati Personali</h3>
  <p>TutoringPlatform rispetta la tua privacy. I dettagli sulla raccolta e l'uso dei tuoi dati personali sono descritti nella nostra Politica sulla Privacy. Utilizzando la piattaforma, accetti le pratiche di gestione dei dati descritte nella Politica sulla Privacy.</p>

  <h3>6. Modifiche ai Termini e Condizioni</h3>
  <p>TutoringPlatform si riserva il diritto di modificare questi Termini e Condizioni in qualsiasi momento. Notificheremo gli utenti di eventuali modifiche sostanziali attraverso i mezzi di comunicazione appropriati. L'uso continuato della piattaforma dopo tali modifiche costituirà l'accettazione dei nuovi Termini e Condizioni.</p>

  <h3>Ultimo Aggiornamento: 14 gennaio 2024</h3>

  <p>La tua continuazione nell'uso della piattaforma costituirà l'accettazione di questi Termini e Condizioni.</p>

  <h3>Contattaci</h3>
  <p>Per domande o commenti riguardanti questi Termini e Condizioni, ti invitiamo a contattarci via email all'indirizzo <a href="mailto:info@tutoringplatform.com">info.TutoringPlatform.com</a> o utilizzando il nostro modulo di contatto online.</p>


</div>
