

.chi-siamo-container {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Utilizzo del font "Segoe UI" */

  h2.title {
    font-size: 24px;
    color: #512DA8;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
  }

  section {
    margin-bottom: 20px;

    h3 {
      font-size: 20px;
      color: #512DA8;
      margin-bottom: 10px;
    }

    p {
      font-size: 16px;
      color: #333;
    }

    ul {
      list-style-type: none;
      margin-left: 20px;
      font-size: 16px;
      color: #333;

      li {
        margin-bottom: 10px;
        padding-left: 25px;

        &::before {
          content: '\25B6';
          color: #512DA8;
          margin-right: 10px;
          font-size: 18px;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    h2.title {
      font-size: 20px;
    }

    section {
      h3 {
        font-size: 18px;
      }

      p {
        font-size: 16px;
      }

      ul {
        font-size: 16px;
      }
    }
  }
}
