<div class="lezioni-container">
  <h2>Lezioni</h2>

  <!-- Sezione Panoramica Lezioni Online -->
  <section>
    <h3>Panoramica Lezioni Online</h3>

    <!-- Filtra per Categoria -->
    <mat-form-field appearance="fill">
      <mat-label>Seleziona Categoria:</mat-label>
      <mat-select [(ngModel)]="categoriaSelezionata" id="categoriaSelezionata" (ngModelChange)="onCategoriaChange()">
        <mat-option *ngFor="let categoria of categorieList" [value]="categoria">{{ categoria }}</mat-option>
      </mat-select>
    </mat-form-field>


    <!-- Elenco lezioni in base alla categoria selezionata -->
    <div *ngIf="categoriaSelezionata !== ''">
      <div *ngFor="let lezione of lezioniFiltrate" class="lezione-card mat-elevation-z2">
        <mat-card>
          <mat-card-header>
            <!-- Puoi aggiungere un'icona predefinita al posto dell'immagine -->
            <div mat-card-avatar class="lezione-image">
              <mat-icon>insert_photo</mat-icon>
            </div>
            <mat-card-title-group>
              <mat-card-title>{{ lezione.titolo }}</mat-card-title>
              <mat-card-subtitle>{{ lezione.istruttore }}</mat-card-subtitle>
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            <p class="durata">Durata: {{ lezione.durata }}</p>
            <p class="prezzo">Prezzo: {{ lezione.prezzo }} {{ lezione.valuta }}</p>
            <p class="categoria">Categoria: {{ lezione.categoria }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button color="warn" (click)="addToFavoritesLezione(lezione)">
              <mat-icon>favorite</mat-icon> Aggiungi ai Preferiti
            </button>
            <button mat-button color="primary" (click)="addToCartLezione(lezione)">Aggiungi al Carrello</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </section>
</div>
