
.welcome-card {
  width: 150px;
  background-color: rgba(240, 240, 240, 0.8);
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 5px;
  margin-top: 10px;
  height: 30px;
}


.welcome-message {
  font-size: 10px;
  text-align: center;
  color: rgb(158, 5, 172);

  margin-top: -15px;

padding: 1px;
}





@media (max-width: 576px) {
  .welcome-card {
    width: 150px;
    padding: 0.2em;
  }

  .welcome-message {
    font-size: 8px;
    padding: 0.2em;
  }
}


@media (max-width: 400px) {
  .welcome-card {
    width: 100px;
    padding: 0.1rem;
    height: 45px;
  }

  .welcome-message {
    font-size: 10px;
  }
}
