.background-container {
  background: url('https://source.unsplash.com/1920x1080/?e-book') center/cover no-repeat;
  min-height: 100vh;
  padding-top: 20px;
}
.registration-container {
  max-width: 300px;
  margin: auto;
  padding: 15px;
  background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  animation: fadeIn 2s ease-out;

  h5 {
    font-size: 1.8rem;
    color: #fff;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin-bottom: 15px;
  }

  mat-form-field {
    width: 100%;
    margin-bottom: 10px;

    .mat-form-field-infix {
      background-color: rgba(255, 255, 255, 0.2);
      border-radius: 0;
      border-bottom: 2px solid rgba(255, 255, 255, 0.7);
    }

    .mat-input-element {
      padding: 8px;
      font-size: 0.9rem;
      color: #fff;

      &:focus {
        outline: none;
        border-bottom-color: rgba(255, 255, 255, 1);
        box-shadow: 0 0 10px rgba(52, 152, 219, 0.6);
      }
    }
  }

  button {
    width: 100%;
    padding: 10px 0;
    font-size: 1.2rem;
    color: #6a11cb;
    background: #fff;
    border: 2px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;

    &:hover {
      color: #fff;
      background: transparent;
      border-color: #fff;
    }
  }
}
@keyframes fadeIn {
0% { opacity: 0; }
  100% { opacity: 1; }
}

/* Media Queries per dispositivi più piccoli */
@media only screen and (max-width: 768px) {
  .registration-container {
    max-width: 70%; /* Ulteriore riduzione della larghezza */
    padding: 10px;
    h5 { font-size: 1.4rem; }
    mat-form-field .mat-input-element { font-size: 0.8rem; }
    button { font-size: 1rem; padding: 8px 0; }
  }
}

@media only screen and (max-width: 480px) {
  .registration-container {
    max-width: 50%; /* Riduzione significativa della larghezza */
    padding: 8px; /* Riduzione del padding */
    h5 { font-size: 1rem; } /* Riduzione della dimensione del font */
    mat-form-field .mat-input-element { font-size: 0.7rem; } /* Riduzione della dimensione del font */
    button { font-size: 0.9rem; padding: 6px 0; } /* Riduzione della dimensione e del padding del pulsante */
  }
}
