<div class="background-container">
<div class="registration-container">

    <h5>Registrazione</h5>
    <mat-form-field appearance="fill">
      <mat-label>Nome</mat-label>
      <input matInput [(ngModel)]="registerData.nome" name="nome" placeholder="Nome">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Cognome</mat-label>
      <input matInput [(ngModel)]="registerData.cognome" name="cognome" placeholder="Cognome">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="registerData.email" name="email" type="email" placeholder="Email">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput [type]="showPassword ? 'text' : 'password'" [(ngModel)]="registerData.password" name="password" placeholder="Password">
      <button mat-icon-button matSuffix (click)="togglePasswordVisibility()">
        <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>


    <button mat-raised-button color="primary" (click)="save()">Registrami</button>

</div>
</div>
