.home-container {
  padding: 20px;

  .hero-section {
    text-align: center;
    margin-bottom: 20px;

    .title {
      font-size: 2.5em;
      font-weight: bold;
      color: #333;
    }

    .subtitle {
      font-size: 1.2em;
      color: #666;
    }

    button {
      margin-top: 20px;
    }
  }

  .features-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /* Per far scendere le card in una nuova riga nella versione mobile */

    .feature {
      flex: 1; /* Le card occupano spazio uguale orizzontalmente */
      text-align: center;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: box-shadow 0.3s ease-in-out;
      cursor: pointer;

      &:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      }

      .feature-icon {
        font-size: 2em;
        color: #2196F3;
      }

      .feature-title {
        font-size: 1.2em;
        font-weight: bold;
        margin-top: 10px;
        color: #333;
      }

      .feature-description {
        margin-top: 10px;
        color: #666;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .features-section {
      flex-direction: column; /* Per far scendere le card una sotto l'altra nella versione mobile */
      align-items: center; /* Centro le card orizzontalmente nella versione mobile */

      .feature {
        width: 100%; /* La card occupa l'intera larghezza nella versione mobile */
        margin-bottom: 20px; /* Aggiunge spazio tra le card nella versione mobile */
      }
    }
  }

  @media screen and (max-width: 568px) {
    .features-section {
      /* Le card saranno una sotto l'altra in questa larghezza */
      flex-direction: column;
      align-items: center;

      .feature {
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }

  @media screen and (max-width: 400px) {
    .features-section {
      /* Le card saranno una sotto l'altra in questa larghezza */
      flex-direction: column;
      align-items: center;

      .feature {
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }
}
