<!-- home.component.html -->
<div class="home-container">

  <!-- Hero Section -->
  <div class="hero-section" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
    <h1 class="title">Esplora nuovi orizzonti con TutoringPlatform</h1>
    <p class="subtitle">Dove l'apprendimento diventa un'avventura</p>
    <button mat-raised-button color="primary" routerLink="/dashboard">Inizia Ora</button>
  </div>

  <!-- Features Section -->
  <div class="features-section" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="16px">

    <!-- Feature: Corsi di Qualità -->
    <div class="feature" fxLayout="column" fxLayoutAlign="center center">
      <mat-icon class="feature-icon">book</mat-icon>
      <h2 class="feature-title" routerLink="/dashboard">Corsi di Qualità</h2>
      <p class="feature-description">Scegli tra una vasta gamma di corsi tenuti dagli esperti del settore.</p>
    </div>

    <!-- Feature: Community Attiva -->
    <div class="feature" fxLayout="column" fxLayoutAlign="center center">
      <mat-icon class="feature-icon">people</mat-icon>
      <h2 class="feature-title" routerLink="/community">Community Attiva</h2>
      <p class="feature-description">Entra a far parte di una comunità attiva e condividi le tue esperienze di apprendimento.</p>
    </div>

    <!-- Feature: Lezioni di Qualità -->
    <div class="feature" fxLayout="column" fxLayoutAlign="center center">
      <mat-icon class="feature-icon">school</mat-icon>
      <h2 class="feature-title" routerLink="/dashboard">Lezioni di Qualità</h2>
      <p class="feature-description">Impara con lezioni interattive e coinvolgenti, adattate al tuo stile di apprendimento.</p>
    </div>
    <div class="feature" fxLayout="column" fxLayoutAlign="center center">
      <mat-icon class="feature-icon">person_search</mat-icon>
      <h2 class="feature-title" routerLink="/dashboard">Sessioni Personalizzate</h2>
      <p class="feature-description">
        Ottieni il massimo dal tuo apprendimento con sessioni one-to-one personalizzate, adattate alle tue esigenze specifiche.
      </p>
    </div>
  </div>
</div>
