@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.login-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('https://source.unsplash.com/1920x1080/?e-book') center/cover no-repeat;
  animation: fadeIn 2s ease-out;

  form {
    width: calc(100% - 30px); // Dimensione adattata dal .registration-container
    max-width: 300px; // Ridotta per adattarsi al .registration-container
    padding: 15px; // Padding aggiornato
    background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%); // Colore di sfondo dal .registration-container
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);

    h5 {
      font-size: 1.8rem; // Dimensione del font aggiornata
      color: #fff; // Colore del font dal .registration-container
      text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
      margin-bottom: 15px; // Margine aggiornato
      text-align: center;
    }

    .form-group {
      margin-bottom: 10px; // Margine aggiornato

      mat-form-field {
        width: 100%;

        input.mat-input-element {
          padding: 8px; // Padding aggiornato
          font-size: 0.9rem; // Dimensione del font dal .registration-container
          color: #fff; // Colore del font dal .registration-container
          background-color: rgba(255, 255, 255, 0.2); // Sfondo dal .registration-container

          &:focus {
            outline: none;
            border-bottom-color: rgba(255, 255, 255, 1);
            box-shadow: 0 0 10px rgba(52, 152, 219, 0.6); // Effetto focus dal .registration-container
          }
        }
      }
    }

    button {
      width: 100%;
      padding: 10px 0; // Padding aggiornato
      font-size: 1.2rem; // Dimensione del font aggiornata
      color: #6a11cb; // Colore del font dal .registration-container
      background: #fff; // Sfondo dal .registration-container
      border: 2px solid transparent;
      border-radius: 8px;
      cursor: pointer;
      transition: background-color 0.3s, color 0.3s, border-color 0.3s;

      &:hover {
        color: #fff;
        background: transparent;
        border-color: #fff; // Stile hover dal .registration-container
      }
    }
  }
}

// Media Queries per dispositivi più piccoli
@media only screen and (max-width: 768px) {
  .login-container {
    form {
      max-width: 70%; // Dal .registration-container
      padding: 10px;
      h5 { font-size: 1.4rem; }
      .form-group input.mat-input-element { font-size: 0.8rem; }
      button { font-size: 1rem; padding: 8px 0; }
    }
  }
}

@media only screen and (max-width: 480px) {
  .login-container {
    form {
      max-width: 60%; // Dal .registration-container
      padding: 8px;
      h5 { font-size: 1.2rem; }
      .form-group input.mat-input-element { font-size: 0.7rem; }
      button { font-size: 0.9rem; padding: 6px 0; }
    }
  }
}
