<!-- login.component.html -->
<div class="login-container">
  <form>
    <h5>Login</h5>
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="loginData.email" name="email" placeholder="Enter your email">
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput
               [type]="mostraPassword ? 'text' : 'password'"
               [(ngModel)]="loginData.password" name="password" placeholder="Inserisci la tua password">
      </mat-form-field>
      <button mat-icon-button (click)="cambiaVisibilitaPassword()" class="password-toggle-button">
        <mat-icon>{{ mostraPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
      </button>
    </div>
    <div *ngIf="loginError" class="error-message">
      <mat-icon>warning</mat-icon> {{ loginError }}
    </div>
    <button mat-raised-button color="primary" (click)="save()">Login</button>
    <button *ngIf="isUserLoggedIn" mat-raised-button color="warn" (click)="logout()">Logout</button>
  </form>
</div>
