.mat-toolbar {
  background-color: #512da8;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;

  .logo, .nav-list a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;

    mat-icon {
      margin-right: 8px;
    }
  }

  .hamburger-button {
    display: none;
  }

  .nav-list {
    display: flex;
    gap: 16px;

    a {
      display: inline-flex; // Cambiato da 'flex' a 'inline-flex'
      align-items: center;
      position: relative;

      &:hover, &.active {
        background-color: #4527a0;
      }
    }

    .notification-badge {
      background-color: #ff3333;
      color: white;
      border-radius: 50%;
      padding: 2px;
      width: 18px;
      height: 18px;
      font-size: 10px;
      display: inline-flex; // Assicura che il badge si comporti come un elemento inline
      justify-content: center;
      align-items: center;
      margin-left: 8px; // Distanza dal testo
    }
  }

  @media only screen and (max-width: 768px) {
    .hamburger-button {
      display: block;
    }

    .nav-list {
      flex-direction: column;
      position: fixed;
      top: 0;
      right: 0;
      height: 100%;
      width: 250px;
      background-color: #512da8;
      padding: 56px 16px 16px;
      box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
      transform: translateX(100%);
      transition: transform 0.3s ease-in-out;
      display: none;

      &.open {
        display: flex;
        transform: translateX(0);
      }
    }
  }
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;

  &.open {
    display: block;
  }
}
