<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="over" position="end" opened="false">
    <!-- Contenuto della Sidenav -->
    <a mat-button routerLink="/" routerLinkActive="active" (click)="sidenav.close()">
      <mat-icon>home</mat-icon> Home
    </a>
    <a mat-button routerLink="/chi-siamo" routerLinkActive="active" (click)="sidenav.close()">
      <mat-icon>info</mat-icon> Chi Siamo
    </a>
    <a mat-button routerLink="/preferiti" routerLinkActive="active" *ngIf="isLoggedIn$ | async" (click)="sidenav.close()">
      <mat-icon>favorite</mat-icon> Preferiti
      <span class="notification-badge" *ngIf="preferitiCount > 0">{{ preferitiCount }}</span>
    </a>
    <a mat-button routerLink="/carrello" routerLinkActive="active" *ngIf="isLoggedIn$ | async" (click)="sidenav.close()">
      <mat-icon>shopping_cart</mat-icon> Carrello
      <span class="notification-badge" *ngIf="carrelloCount > 0">{{ carrelloCount }}</span>
    </a>
    <a mat-button routerLink="/profilo-utente" routerLinkActive="active" *ngIf="isLoggedIn$ | async" (click)="sidenav.close()">
      <mat-icon>person</mat-icon> Profilo
    </a>

<ng-container *ngIf="isLoggedIn$ | async; let user">
  <div class="user-info" (click)="sidenav.close()">
    <a mat-button>
      <mat-icon>account_circle</mat-icon>
      {{ userName || 'Nome Utente' }}
    </a>
  </div>
  <a mat-button (click)="onLogout()">
    <mat-icon>exit_to_app</mat-icon> Logout
  </a>
</ng-container>

    <a mat-button *ngIf="!(isLoggedIn$ | async)" routerLink="/auth" routerLinkActive="active" (click)="sidenav.close()">
      <mat-icon>lock_open</mat-icon> Login
    </a>
  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar color="primary">
      <span class="logo">
        <a routerLink="/">
          <img src="assets/6eb3fdc7c1204e9fb71925a9d6420e5c.png" alt="Logo">
        </a>
      </span>
      <span class="toolbar-spacer"></span>
      <button mat-icon-button class="toggle-sidenav-button" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
        <span class="notification-badge" *ngIf="(preferitiCount + carrelloCount) > 0">
          {{ preferitiCount + carrelloCount }}
        </span>
      </button>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
