.mat-toolbar {
  background-color: #512da8; // Colore di sfondo della barra delle applicazioni (navbar)
  justify-content: space-between; // Per spostare i contenuti ai lati opposti
  align-items: center; // Per centrare verticalmente il contenuto

  .logo {
    a {
      color: #fff;
      text-decoration: none;
      display: flex;
      align-items: center;

      mat-icon {
        margin-right: 8px;
      }
    }
  }

  .hamburger-button {
    display: none; // Nascondi il bottone dell'hamburger su desktop
  }

  .nav-list {
    display: flex;
    gap: 16px;

    a {
      color: #fff;
      text-decoration: none;
      display: flex;
      align-items: center;

      mat-icon {
        margin-right: 4px;
      }

      .notification-badge {
        background-color: red;
        color: white;
        border-radius: 50%;
        padding: 1px 6px;
        font-size: 12px;
        position: relative;
        top: -10px;
        right: -10px;
      }

      &.active {
        background-color: #311b92; // Colore di sfondo per l'elemento di navigazione attivo
      }

      &:hover {
        background-color: #4527a0; // Colore di sfondo per l'elemento di navigazione al passaggio del mouse
      }
    }

    @media only screen and (max-width: 768px) {
      flex-direction: column; // Imposta la direzione della colonna su dispositivi mobili
      position: absolute;
      top: 56px; // Altezza della barra delle applicazioni su desktop
      left: 0;
      width: 100%;
      background-color: #512da8; // Colore di sfondo della lista di navigazione su dispositivi mobili
      padding: 16px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      display: none; // Nascondi la lista di navigazione su mobile all'inizio

      &.open {
        display: flex; // Mostra la lista di navigazione quando la classe .open è presente
      }
    }
  }

  @media only screen and (max-width: 768px) {
    .hamburger-button {
      display: block; // Mostra il bottone dell'hamburger solo su dispositivi mobili
    }

    .nav-list {
      display: none; // Nascondi la lista di navigazione su desktop all'inizio
    }
  }
}
