.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .tab-content-container {
    width: 100%;
    max-width: 900px;
    margin: auto;
    padding: 20px;

    @media (max-width: 1024px) {
      max-width: 80%; // Larghezza massima come percentuale per tablet grandi
      padding: 15px;
    }

    @media (max-width: 768px) {
      max-width: 95%; // Larghezza massima per tablet
      padding: 10px;
    }

    @media (max-width: 600px) {
      max-width: 100%; // Utilizza l'intera larghezza per i dispositivi mobili
      padding: 10px;
    }
  }

  .dashboard-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    color: #673AB7;

    mat-card {
      font-size: 1.5rem;
      padding: 20px;
      box-shadow: none;

      @media (max-width: 1024px) {
        font-size: 1.3rem;
        padding: 15px;
      }

      @media (max-width: 768px) {
        font-size: 1.2rem;
        padding: 10px;
      }

      @media (max-width: 600px) {
        font-size: 1.1rem;
        padding: 8px;
      }

      @media (max-width: 400px) {
        font-size: 1rem;
        padding: 5px;
      }
    }
  }

  .mat-tab-group {
    width: 100%;
    // Altri stili personalizzati per i tab, se necessari
  }

  // Stili per la sezione "Prenota un Appuntamento"
  .prenotazione-container {
    background-color: #f8f9fa; // Sfondo leggero per distinguerlo
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    .data-selettore {
      width: 100%;
      margin-bottom: 20px;
      .mat-form-field-flex {
        border-radius: 4px;
        background-color: white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
      }
    }

    .lista-professori {
      .card-professori, .card-fasce-orarie {
        margin-bottom: 20px;
        border-radius: 8px;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        mat-card-content {
          padding: 15px;

          p {
            font-size: 1.2rem;
            color: #495057;
            margin-bottom: 15px;
          }

          mat-list {
            .professore-item, .fascia-oraria-item {
              cursor: pointer;
              padding: 12px;
              margin: 5px 0;
              border-radius: 4px;
              transition: background-color 0.3s, box-shadow 0.3s;

              &:hover {
                background-color: #e9ecef;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
              }
            }
          }
        }
      }
    }
    .prenota-button {
      margin-top: 15px;
      padding: 10px 15px;
      font-size: 0.6rem;
      font-weight: bold;
      border-radius: 4px;
      color: #fff;
      background-color: #673ab7;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

      &:hover {
        background-color: darken(#673ab7, 5%);
      }

      &[disabled] {
        background-color: #ccc;
        cursor: not-allowed;
      }
    }
  }
}
