<div class="dashboard-container">
  <mat-card class="dashboard-header">
    <mat-card>
      Benvenuto nel tuo dashboard!
    </mat-card>
  </mat-card>

  <mat-tab-group [(selectedIndex)]="currentViewIndex" (selectedTabChange)="onTabChange($event)">
    <mat-tab label="Corsi">

      <div class="tab-content-container">
        <app-corsi></app-corsi>
      </div>
    </mat-tab>
    <mat-tab label="Lezioni">

      <div class="tab-content-container">
        <app-lezioni></app-lezioni>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
