.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .tab-content-container {
    width: 100%;
    max-width: 900px;
    margin: auto;
    padding: 20px;

    @media (max-width: 1024px) {
      max-width: 80%; // Larghezza massima come percentuale per tablet grandi
      padding: 15px;
    }

    @media (max-width: 768px) {
      max-width: 95%; // Larghezza massima per tablet
      padding: 10px;
    }

    @media (max-width: 600px) {
      max-width: 100%; // Utilizza l'intera larghezza per i dispositivi mobili
      padding: 10px;
    }
  }

  .dashboard-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    color: #673AB7;

    mat-card {
      font-size: 1.5rem;
      padding: 20px;
      box-shadow: none;

      @media (max-width: 1024px) {
        font-size: 1.3rem;
        padding: 15px;
      }

      @media (max-width: 768px) {
        font-size: 1.2rem;
        padding: 10px;
      }

      @media (max-width: 600px) {
        font-size: 1.1rem;
        padding: 8px;
      }

      @media (max-width: 400px) {
        font-size: 1rem;
        padding: 5px;
      }
    }
  }

  .mat-tab-group {
    width: 100%;

  }
}
