
.carrello-container {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9fb; /* Sfondo leggermente diverso per contrasto */
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12);

  h2, h3 {
    color: #673AB7; /* Colore più intenso */
    margin-bottom: 18px;
  }

  h2 {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
  }

  h3 {
    font-size: 20px;
    border-bottom: 2px solid #512DA8;
    padding-bottom: 12px;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  .corso-card {
    background-color: #ffffff;
    margin-bottom: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);

    mat-card {
      border-radius: inherit;

      mat-card-header {
        .corso-image {
          font-size: 50px; /* Dimensione icona */
            color: #5E35B1;
        }

        mat-card-title-group {
          mat-card-title {
            font-weight: bold;
            color: #333;
            font-size: 22px;
          }

          mat-card-subtitle {
            color: #777;
            font-size: 18px;
          }
        }
      }

      mat-card-content {
        p {
          color: #555;
          margin-bottom: 10px;

          &.livello {
            font-size: 17px;
            font-weight: bold;
          }

          &.durata, &.prezzo {
            font-size: 16px;
          }
        }
      }

      mat-card-actions {
        display: flex;
        justify-content: flex-end;

        button {
          padding: 12px 18px;
          cursor: pointer;
          border: none;
          border-radius: 5px;
          font-size: 16px;
          transition: background-color 0.3s, transform 0.3s;

          &:hover {
            transform: scale(1.05);
          }

          &.btn-rimuovi {
            background-color: #E53935;
            color: #fff;
          }
        }
      }
    }
  }

  .carrello-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;

    h3 {
      font-size: 22px;
      color: #333;
    }

    button {
      background-color: #512DA8;
      color: #fff;
      padding: 12px 25px;
      border-radius: 5px;
      font-size: 17px;
      transition: background-color 0.3s, transform 0.3s;

      &:hover {
        background-color: darken(#512DA8, 10%);
        transform: scale(1.05);
      }
    }

    .btn-svuota,
    .btn-acquista {
      &:hover {
        background-color: darken(#512DA8, 15%);
      }
    }
  }
}
